<p>add-products works!</p>


<form [formGroup]="addProductForm" class="example-form" (ngSubmit)="onAddProductsSubmit()">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name of product" id = "add-products-Name"formControlName="Name">
            
          <mat-error>
            Enter the name of the product you want to add
        </mat-error>
        
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <input matInput placeholder= "Animal" id = "add-products-Animal" formControlName="Animal">
            
            <mat-error>
                    Please enter the Animal that eats this food
                  </mat-error>
    
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
                <input matInput placeholder= "Price" type="number" id = "add-products-price" formControlName="Price">
           
                <mat-error>
                        Please enter the Price of this product
                      </mat-error>
        
            </mat-form-field>
    
        <mat-form-field>
           
                <input matInput placeholder= "Weight" type="number" id="add-product-weight" formControlName="Weight">
    
            <mat-error>
                please enter the weight of this product
            </mat-error>
        
        </mat-form-field>
        
        
        <button mat-raised-button color="primary" id="Add-products-submitBotton">Add Product</button>
    
      </form>