
<p>view-products works!</p>
<div>
<input type="text" [(ngModel)]="searchInput">
</div>
<div *ngFor="let product of data.testProducts | filterProducts: searchInput" class="lift-container">

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{product.Name}}</mat-card-title>
          <mat-card-subtitle>Pris: {{product.Price}}, Vægt {{product.Weight}} Kg</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{product.imgLink}} alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Til {{product.foodFor}}
          </p>
        </mat-card-content>
        <mat-card-actions>
         <button mat-button>Add to Cart</button>

        <button *ngIf="auth.LoggedinUser.role == 'admin' " mat-button (click)="onDeleteProduct(product.Id)">DELETE</button>
        
        </mat-card-actions>
      </mat-card>
</div>

<h1>END TO END TEST</h1>
