  <mat-toolbar>FodderHuset
  <button mat-button color="accent" routerLink = "landing-page" id="home-page">Home</button>
  <button mat-button color="accent" routerLink = "login" id="login-page">Login</button>
  <button mat-button color="accent" routerLink = "view-products" id="view-products">Webshop</button>
  <button mat-button color="accent" routerLink = "register-user" id="register-user-page" >register-user</button>
  <button mat-button color="accent" routerLink = "shopping-basket" id="shopping-basket">Cart</button>



</mat-toolbar>



<router-outlet></router-outlet> 

